
header {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.app_container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.main_content {
    flex-grow: 1;
    padding: 2rem;
    background-color: #f4f4f4;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
}

.page_container {
    width: 100%;
    max-width: 1400px; 
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;
}

@media (min-width: 1800px) {
    .page_container {
        max-width: 1600px;
    }
}

@media (min-width: 2400px) {
    .page_container {
        max-width: 2000px;
    }
}